@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
  z-index: 1000;
}

.box {
  width: 200px;
  height: 200px;
  background: dodgerblue;
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

@layer components {
  .post-section {
    @apply mx-auto w-full max-w-6xl dark:format-invert;
  }
}
