@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#__next {
  height: 100%;
}

@layer components {
  .post-section {
    @apply mx-auto w-full max-w-6xl my-10 px-4 lg:px-0;
  }

  .progress-bar {
    height: 10px;
    transform-origin: 0%;
    z-index: 1000;
    @apply fixed bg-red-700 top-0 left-0 right-0;
  }

  .center-absolute {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    @apply top-10 md:top-[45%];
  }
}

.side-menu {
  z-index: 999;
  @apply fixed top-0 left-0 bottom-0;
  .background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
    @apply shadow;
  }

  button {
    outline: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    z-index: 9999;

    svg {
      margin: 0 auto;
      z-index: 9999;
    }
  }

  ul {
    width: 100%;
    padding: 0;
    margin-top: 50px;
    img {
      margin-bottom: 20px;
    }
  }

  ul {
    padding: 25px;
    position: relative;
    z-index: 999;
  }

  li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
  }

  .text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    flex: 1;
  }
}

@media screen and (max-height: 700px) {
  .home img {
    @apply w-[50%] right-0 left-auto;
  }
}
